/* ---------------------------------------------------
    Variables
----------------------------------------------------- */

:root {
--color-bg: #000000;
--color-primary: #E75B10;
--color-accent: #EE801E;
--color-darkgray: #333333;
--color-gray: #888888;
--color-lightgray: #E3E0DD;
}

/* ---------------------------------------------------
  OVERALL PAGE STYLE
----------------------------------------------------- */

  /* Background color
   */
.panels-container {
  background-color : var(--color-gray);
}

  /*  Background style
   */
body {
  height : 100%;
  width : 100%;
  overflow: auto;
  background-color : var(--color-darkgray);
}

  /*  Top level blocks of the visualization :
   *  map, graph panel, settings
   */
.app-panel{
    margin : 3px;
    border : solid black 2px;
    border-radius : 4px;
}

    /* generic style for icon-button */
.btn-icon {
    /* positioning */
  margin : 3px 3px 3px 3px;
  width : 40px;
  height : 40px;
      /* Style -> fullsize background-image */
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size : 100% 100%;
      /*   */
  border:none;
}

    /* Fix the 'blue border on click' */
button:focus{
  outline:none;
}

/*  Container that lays-out its children horizontally,
  left-aligned by default (use container-distribute-horizontally)
*/
.container-lay-horizontally {
      /* generic height for all such menues */
  height : 50px;
      /* children positioning */
  display : flex;
  flex-direction: row;
  align-items: center;
}

/*  Container that horizontally aligns & distributes its content
    typically used with one-line-menu
*/
.container-distribute-horizontally {
  display: flex;
  justify-content: space-between;
}

/* ---------------------------------------------------
  2-panel layout stuff
----------------------------------------------------- */

.panels-container {
      /* children layout */
  display: flex;
  flex-direction: row;
  overflow: hidden;
  xtouch-action: none;    /* avoid browser level touch actions */
      /* positioning      */
  position : absolute;
  height : 90;
  padding: 0;
  margin: 0;
  width : 100%;
  height : 100%;
}

.splitter {
      /* position & size */
  flex: 0 0 auto;
  width: 10px;
  min-height: 200px;
  height : 100%;
      /* Styling */
  background: url("../css/icons/splitter.png") center center no-repeat var(--color-darkgray);
  background-size: 10px 40px;
  background-color : var(--color-bg);
  border: solid var(--color-bg) 1px;
      /* resize behaviour */
  cursor: col-resize;
}

.left-panel-split {
      /* position & size */
  flex: 0 0 auto;
  min-width: 66%;
  max-width: 80%;
  height : 100%;
      /* misc style */
  white-space: nowrap;
  padding: 2px;
      /* divide space between children */
  display : flex;
  flex-direction: column;
}

.right-panel-split {
  flex: 1 1 auto;
  padding: 2px;
  width: 100%;
  min-height: 100%;
  min-width: 20%;
}

/* ---------------------------------------------------
    LEFT-PANEL-SPLIT'S CHILDREN
    we want them setup so that :
    - settingsdiv get the space it needs
    - mapdiv gets all the rest
    - settingsdiv can collapse and give its space to mapdiv
----------------------------------------------------- */

#mapdiv {
    flex : 1 1 75%;
    height : 70%;
}

#settingsdiv {
  flex : 0 0 25%;
  /*height : 22%;*/
      /*will be toggled by the collapse-settings button
          visibility : collapse would be better, but unsupported by chrome */
  display : block;
  background-color: var(--color-bg);
  color: var(--color-lightgray);
  height: 25%;
}

/* ---------------------------------------------------
    SIDEBAR-RELATED STYLING
----------------------------------------------------- */

#menubar { /* typically inherits from one-line-menu */
      /* left-right align children - NB works with flex */
  justify-content: space-between;
}

#btn-info {
   position : relative;
   height: 30px;
   width: 30px;

   top : 0px;
   background-image: url(../css/icons/info.svg);
}

@font-face {
  font-family: "SomeCoolFont";
  src: url("../css/fonts/Library 3 am.otf");
}

#menubar p {
    /* vh = viewport-related units https://stackoverflow.com/questions/16056591/font-scaling-based-on-width-of-container#answer-19818026 */
    /* TODO : use svg instead ? https://css-tricks.com/fitting-text-to-a-container/ */
        /* remove interline */
    padding: 0;
    margin: 0;
    margin-left: 1vw;
        /* font config */
    font-size : 2.5vw;
    font-family: "SomeCoolFont";  /* "must be the last value specified" */
}

#sidebardiv {
    background-color: green;
    height : 100%;
}
