/* ---------------------------------------------------
    Variables
----------------------------------------------------- */

:root {
  --bg: #000000;
  --darkgray: #333333;
  --gray: #888888;
  --lightgray: #E3E0DD;
  --light: #FFA500;
  --darker: #FF8C00;
}

/* ---------------------------------------------------
    General map svg
----------------------------------------------------- */

#map-canva {
    height : 100%;
    width : 100%;
    background : var(--bg);
    /* For children positioning*/
    position : relative;
}

#mainSvg{
    /*
      Size, relative to parent (#map-canva)
      (parents size needs to be defined, else, oveflow)
    */
    height : 100% ;
    width : 100%;
}

path {
    stroke: var(--darkgray);
    /* Fill done in JS depending on mentions count */
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill-opacity: 1;
    /* Keeps width fixed when zooming */
    vector-effect: non-scaling-stroke;
}

/* ---------------------------------------------------
    Event selection (tooltip + hover)
----------------------------------------------------- */

div.tooltip {
  font-family: 'Jura', sans-serif;
  border: 1px solid;
  border-radius: 6px;
  padding: 7px;
  color: var(--lightgray);
}

.tooltip-box {

}

.tooltip-title {

  display:flex;
  align-items: center;

  border-radius:2px;
  background: #ff8c00;
  background: -moz-linear-gradient(top, var(--darker) 0%, var(--light) 99%);
  background: -webkit-linear-gradient(top, var(--darker) 0%,var(--light) 99%);
  background: linear-gradient(to bottom, var(--darker) 0%,var(--light) 99%);
  color: var(--bg);
  font-weight: bold;
}

.tooltip-title-text {
  display: table;
  margin: auto;
}

.tooltip-content {

}

.tooltip-names {
  display: inline-block;
  margin-right: 10px;
}

.tooltip-values {
  display: inline-block;
}

.tooltip-elem {

}

.tooltip-elem b {
  color: var(--light);
}

circle:hover {
  fill: var(--lightgray) !important;
}


/* ---------------------------------------------------
    Digital clock
----------------------------------------------------- */

#digital-clock{
  position : absolute;
  width : 180px;
  height : 65px;
  top : 1%;
  left : calc( 50% - (180px / 2));
}

#clock-border {
  fill: var(--bg);
  stroke: var(--darker);
  stroke-width: 3px;
}

#display-date {
  fill: var(--darker);
  font-family: 'Jura', sans-serif;
  font-weight: bold;
}

#digital-clock path {
  fill: var(--bg);
  stroke: var(--bg);
}

#digital-clock circle {
  fill: var(--light);
}

#digital-clock .lit {
  fill: var(--light);
  stroke: var(--light);
  stroke-opacity: 1;
}

/* ---------------------------------------------------
    Control menu
----------------------------------------------------- */

#control-menu{
  width : 130px;
  height : 40px;
  position : absolute;
  top : calc( 99% - 40px);
  left : calc( 50% - ((130px) / 2));

  background-color: transparent;
}

#simulation-speed {
  height:30%;
  margin:0px 0px 0px 0px;

  text-align:center;
  font-family: 'Jura', sans-serif;
  line-height:40%;
  color: var(--darker);
}

#control-menu-border {
  position:relative;
  width: 100%;
  height:70%;

  background: #959595;
  background: -moz-linear-gradient(top, var(--darkgray) 0%, var(--bg) 50%, var(--darkgray) 100%);
  background: -webkit-linear-gradient(top, var(--darkgray) 0%,var(--bg) 50%,var(--darkgray) 100%);
  background: linear-gradient(to bottom, var(--darkgray) 0%,var(--bg) 50%,var(--darkgray) 100%);

	border-radius:10px;
	border: 1px solid var(--darker);
}

#backward-btn {
  height:70%;
  background-image:url('../css/icons/backward.svg');
}

#play-btn {
  height:70%;
  background-image:url('../css/icons/play.svg');
}

#forward-btn {
  height:70%;
  background-image:url('../css/icons/forward.svg');
}

#play-btn:hover,
#forward-btn:hover,
#backward-btn:hover {
  cursor: pointer;
}

#btn-maximize {
  height : 30px;
  width : 30px;

  position : absolute;
  top : calc( 98% - 30px );
  left : calc( 99% - 30px );

  background-image : url("../css/icons/maximize.png");
}

/* ---------------------------------------------------
    Selection menu
----------------------------------------------------- */

.quadclass-container {
  width: 25%;
  height:100%;
  float: left;
  padding-left: 1px;
  padding-right: 1px;

  font-family: 'Jura', sans-serif;
}

.quadclass-header {
  display:flex;
  align-items: center;

  width:100%;
  height: 35px;

  border-radius:2px;
  background: #ff8c00;
  background: -moz-linear-gradient(top, var(--darker) 0%, var(--light) 99%);
  background: -webkit-linear-gradient(top, var(--darker) 0%,var(--light) 99%);
  background: linear-gradient(to bottom, var(--darker) 0%,var(--light) 99%);
}

.class-checkbox {
  position:relative;

  left: 15px;
  width: 20px;
  height: 20px;
  background: var(--lightgray);

  border-radius: 100%;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.quadclass-header .checkbox-text {
  margin-left: 25px;
  font-size: 17px;
  color: var(--bg);
}

.class-checkbox input {
  visibility: hidden;
}

.class-checkbox label {
  position: absolute;

  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #333;

  transition: all .5s ease;
  cursor: pointer;
  z-index: 1;

  border-radius: 100px;
  box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.type-list {
  height: 100%;
  padding:2px;
}

.type-container {
  display:flex;
  align-items: center;
  margin-left: 17px;
  height: 13%;
}

.type-checkbox {
  position:relative;
  display: block;

  width: 12px;
  height: 12px;
  background: #E3E0DD;

  border-radius: 100%;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.type-container .checkbox-text {
  margin-left: 10px;
  font-size: 14px;
}

.type-checkbox input {
  visibility: hidden;
}

.type-checkbox label {
  position: absolute;

  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  background: #333;

  transition: all .5s ease;
  cursor: pointer;
  z-index: 1;

  border-radius: 100px;
  box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

input:checked + label.class-1 {
  background: #69FFF1;
}
input:checked + label.class-2 {
  background: #35FF69;
}
input:checked + label.class-3 {
  background: #F3F315;
}
input:checked + label.class-4 {
  background: #FF6600;
}
