/* ---------------------------------------------------
    Variables
----------------------------------------------------- */

:root {
  --color-bg: #000000;
  --color-primary: #FFA500;
  --color-accent: #EE801E;
  --color-darkgray: #222222;
  --color-gray: #888888;
  --color-lightgray: #E3E0DD;
}

/* ---------------------------------------------------
    SIDEBAR-RELATED STYLING
----------------------------------------------------- */

#menubar { /* typically inherits from one-line-menu */
        /* left-right align children - NB works with flex */
    justify-content: space-between;
    background-color : black;
}

#btn-info {
     background-image: url(../css/icons/info.png);
     position : relative;
     height: 30px;
     width: 30px;
     top : 0px;
     left : -5px;
}

/*
@font-face {
  font-family: "SomeCoolFont";
  src: url("../css/fonts/Library 3 am.otf");
}
*/

#menubar {
  padding-left: 3vmin;
}

#menubar span {
    /* vh = viewport-related units https://stackoverflow.com/questions/16056591/font-scaling-based-on-width-of-container#answer-19818026 */
    /* TODO : use svg instead ? https://css-tricks.com/fitting-text-to-a-container/ */
        /* remove interline */
    padding: 0;
    margin: 0;
    margin-left: 1vw;
      /* font config */
  font-size : 2vw;
  font-family: 'Jura', sans-serif;
  color:#FFA500;
}

#sidebardiv {
  display: none;
  height : 93%;
  background-color : black;
  overflow-y : overlay;
  overflow-x : hidden;
  scrollbar-gutter : auto;
}
#sidebardiv::-webkit-scrollbar {
    width: 0.6em;
    height : 30px;
    /*overflow : overlay;*/
    background: transparent;
}
#sidebardiv::-webkit-scrollbar-track {
    background-color: transparent;
    display : none;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}
#sidebardiv::-webkit-scrollbar-thumb {
  background-color: var(--light);
  outline: 0px solid green;
}


/* ---------------------------------------------------
    Information div
----------------------------------------------------- */

#informationdiv {
  height:93%;
  display:block;

  background: #0e0e0e;
  background: -moz-linear-gradient(top, var(--color-bg) 0%, var(--color-darkgray) 100%);
  background: -webkit-linear-gradient(top, var(--color-bg) 0%,var(--color-darkgray) 100%);
  background: linear-gradient(to bottom, var(--color-bg) 0%,var(--color-darkgray) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#333333',GradientType=0 );

  font-family: 'Jura', sans-serif;
  font-size: 1.5vmin;
  text-align: justify;
  text-justify: inter-word;
  color: var(--lightgray);
}


.info-paragraph {
  margin: 1vmin;
  padding: 1vmin;
}

#info-text {
  height: 100%;
}

.section-header {

  display:flex;
  align-items: center;

  height: 3vmin;
  margin-top: 2vmin;
  margin-left: 3vmin;
  margin-right: 3vmin;

  border-radius:2px;
  background: #ff8c00;
  background: -moz-linear-gradient(top, var(--darker) 0%, var(--light) 99%);
  background: -webkit-linear-gradient(top, var(--darker) 0%,var(--light) 99%);
  background: linear-gradient(to bottom, var(--darker) 0%,var(--light) 99%);
}

.section-text {
  margin-left: 1vmin;
  font-size: 2vmin;
  font-weight: bold;
  color: var(--bg);
}

.info-paragraph {
  padding: 1.5vmin;
  padding-left: 3vmin;
  padding-right: 3vmin;

}

.info-paragraph a {
  color: #FFA500;
}



/* ---------------------------------------------------
    GRAPHS STYLING
----------------------------------------------------- */

    /*  Container that holds the sourceGraph text and graph
     *  previously .visualize-source-container
     */
/*.visualize-source-container {*/
.sourcegraph-container {
        /* Position & dimension */
    height: 25%;
    position:relative;
        /* spacing */
    margin-bottom : 35px;
        /* Color & border */
    background-color: var(--gray);
    margin : 4px 4px 25px 4px;
    border: solid var(--gray) 4px;
    border-radius: 4px;
}

    /* Bottom delimiter for sourcegraph-container */
/*.sourcegraph-container:after {
    content : "";
    position: absolute;
    left    : 33%;
    bottom  : 0;
    height  : 3px;
    width   : 33%;
    border-top : 3px solid var(--color-gray);
}*/

    /*  Title/textbox for a source graph
     */
.sourcegraph-text {
        /* Position & dimensions */
    width: 100%;
    height: 20%;
        /* font color & content properties */
    color : var(--bg);
    font-size: 125%;
    font-weight: bold;
    text-align:center;
    overflow: hidden;
    pointer-events: none;
}


    /*  graph/chart area for a sourcegraph
     *  previously .visualize-source-mention-chart
     */
.sourcegraph-chart {
        /* size & position */
    width: 100%;
    height: 80%;
        /* color & content properties */
    pointer-events: none;
    background-color: var(--gray);
}


    /*line charts for sources and mentions
     */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}
